body {
    width: 100%;
    overflow-x: hidden;
}

nav .nav-wrapper,
footer.page-footer {
    background-color: #555AA4;
}

a > span {
    display: none;
}

.slider .slides li .caption {
    top: 51%;
}

.slider .indicators .indicator-item.active {
    background-color: #555AA4;
}

.caption {
    background-color: rgba(0, 0, 0, 0.4);
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.section {
    padding-top: 3em;
}

.date-details {
    background-color: #fff;
    padding: 0.6em;
}

.date-details h5 {
    font-size: 1.2em;
}

.card-panel {
    padding: 0.5em;
    margin-bottom: 2px;
}

.card-panel .row {
    margin-bottom: 0px;
}

.date-details {
    background-color: #fff;
    padding: 0.6em;
}

.date-details h5 {
    font-size: 1.2em;
}

nav .brand-logo span {
    margin-top: 0.2em;
    margin-left: 0.2em;
    background: top left no-repeat url("../images/phpconfasia-logo.png");
    background-size: cover;
    display: block;
    width: 300px;
    height: 105px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .brand-logo span {
        background: top left no-repeat url("../images/phpconfasia-logo@2x.png");
        background-size: 300px 105px;
    }
}

@media screen and (max-width: 600px) {
    nav .brand-logo span {
        margin-top: 0em;
        margin-left: 0em;
        width: 160px;
        height: 56px;
        background-size: 160px 56px;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    nav .brand-logo span {
        margin-top: 0em;
        margin-left: 0em;
        width: 185px;
        height: 64px;
        background-size: 185px 64px;
    }
}
